.wrapper {
    margin-top: 60px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 24px;
    text-align: center;

    .highlight {
        color: #ff6600;
    }
}

.faculties-list {
    display: flex;
    justify-content: space-between;
}

.faculty-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease;
    background-color: white;
    border: 1px solid transparent;
    padding-bottom: 10px;
    border-radius: 8px;
    width: 160px;

    &:hover {
        transform: translateY(-5px);
    }
}

.faculty-logo {
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    img {
        width: 100%;
        object-fit: cover;
    }
}
.faculty-name {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px; // Đảm bảo chiều cao cố định
    word-break: break-word; // Xuống dòng khi cần thiết
    white-space: normal; // Cho phép xuống dòng nếu quá dài
}
