.wrapper {
    width: var(--content-width);
    margin: 74px auto 0 auto;
}
.link {
    padding: 20px 26px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 0;

    a {
        font-weight: 500;
        font-size: 14px;
        color: var(--primary);
    }

    a:last-child {
        color: #b3b3b3;
    }
}

.header {
    padding-bottom: 0;
    color: var(--white-color);
    background-color: var(--primary);
    display: inline-block;
    padding: 10px;
}

.title {
    font-weight: bold;
}

.questions {
    margin-bottom: 20px;
    padding: 20px;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.question-text {
    font-weight: 700 !important;
    margin-bottom: 10px;
    font-size: 16px !important;
    font-family: 'Montserrat' !important;
    color: var(--primary);
}

.answer-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.answer-option {
    &.correct {
        color: green;
        font-weight: bold;
    }

    &.incorrect {
        color: red;
        font-weight: bold;
    }
}

.icon {
    margin-left: 10px;

    &.correct {
        color: green;
    }

    &.incorrect {
        color: red;
    }
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.score {
    margin-right: 20px;
}

.submit-btn,
.save-btn,
.reset-btn {
    width: 158px;
    height: 32px;
    background-color: var(--primary) !important;
    font-family: 'Montserrat' !important;
    font-size: 12px !important;
    color: var(--white-color) !important;
    border-radius: 8px !important;
}
