.wrapper {
    width: var(--content-width);
    margin: 160px auto;
    height: auto;

    .alert {
        width: 280px;
        position: relative;
        top: -50px;
        left: 500px;
        z-index: 10000;
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #eeeefe;
    padding: 40px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info-left {
    width: 30%;

    &__title {
        color: var(--primary);
        font-weight: 500;
        font-size: 16px;
        font-family: 'Roboto Condensed';
    }

    &__img {
        margin-top: 10px;
        width: 310px;
        height: 310px;
        border-radius: 8px;
        object-fit: cover;
    }

    &__input {
        width: 310px;
        background-color: var(--white-color);
        padding: 10px;
        cursor: pointer;
        margin-top: 5px;
    }

    &__btn {
        margin-top: 8px;
        width: 100%;
        display: block;
        background-color: var(--primary);
        border-radius: 8px;
        color: var(--white-color);
        width: 310px;
        height: 32px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
    }
}

.info-right {
    width: 70%;
    position: relative;

    &__title {
        color: var(--primary);
        font-weight: 500;
        font-size: 16px;
        font-family: 'Roboto Condensed';
        position: absolute;
        top: -50px;
    }

    &__inputs {
        display: flex;
        align-self: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;

        input {
            background-color: var(--white-color) !important;
        }
    }

    &__btn {
        font-weight: 400;
        font-size: 14px;
        color: var(--white-color);
        background-color: var(--primary);
        display: block;
        width: 120px;
        height: 32px;
        border-radius: 8px;
        margin-top: 16px;
    }
}

// modal đổi mật khẩu

.otp,
.user-email {
    font-family: 'Roboto Condensed';
    text-align: center;
    font-weight: 500;
}

.otp {
    color: var(--primary);
    font-size: 16px;
}

.user-email {
    color: var(--danger-color);
}

.modal {
    input {
        background-color: var(--white-color);
    }
}
