.filter-book-container {
    margin: 0 auto;
    margin-top: 74px;
    padding: 0 24px;
    flex: 1;
    width: 100%;
    max-width: 1200px;
}

.results-link {
    padding: 20px 0;
    display: flex;
    gap: 10px;

    a {
        color: var(--primary);
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
    }
    a:last-child {
        color: #b3b3b3;
    }
}

.results-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.results-body {
    flex: 1;
    border-radius: 5px;
    background-color: white;
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.results-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);

    span {
        color: var(--orange-color);
    }
}

.results-dropdow {
    display: flex;
    align-items: center;

    span {
        color: var(--primary);
        font-weight: 500;
        margin-right: 12px;
    }
}

.results-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 14px;
    background-color: white;
    border-radius: 5px;

    .book-item {
        display: flex;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #ffffff;

        .book-img {
            position: relative;

            .book-thumbnail {
                width: 240px;
                height: 100%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .btn-heart {
                background-color: transparent;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .book-info {
            flex: 1;
            text-align: left;
            padding: 14px;
            position: relative;

            .book-department {
                font-size: 14px;
                color: #b3b3b3;
                font-weight: 300;
            }

            .book-title {
                font-size: 16px;
                font-weight: 500;
                color: #000000;
                margin-top: 16px;
            }

            .book-subject {
                display: flex;
                align-items: center;
                margin-top: 10px;
                gap: 10px;
                span {
                    font-weight: 300;
                    font-size: 14px;
                    color: var(--text-color);
                }

                p {
                    color: var(--orange-color);
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .btn-dot {
                background-color: transparent;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }

        .book-type {
            padding: 4px 8px;
            background-color: #ebebeb;
            border-radius: 4px;
            display: inline-block;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;

            margin: 14px 0;
        }

        .book-time {
            display: flex;
            align-items: center;
            margin-top: 2px;
            gap: 6px;

            span {
                font-size: 12px;
                font-weight: 300;
                color: #b3b3b3;
            }
        }

        .book-dowload {
            display: flex;
            align-items: center;
            margin-top: 8px;
            gap: 6px;

            span {
                font-size: 12px;
                font-weight: 300;
                color: #b3b3b3;
            }
        }
    }
}

.filter-section {
    padding: 14px;
    background-color: white;
    border-radius: 5px;
    max-width: 240px;
    height: 254px;

    p {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        color: var(--primary);
        display: flex;
        align-items: center;

        img {
            margin-right: 5px;
        }
    }

    .filter-checkbox {
        margin-top: 16px;
    }
}

.pagination {
    margin-top: 18px;
    padding-left: 10px;
    padding-bottom: 14px;

    .page-button {
        padding: 8px 12px;
        margin: 0 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;

        &.active {
            background-color: var(--orange-color);
            color: white;
            border-color: var(--orange-color);
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
