.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input-label {
    font-size: 14px;
    color: #000;
}

.required {
    color: red;
    margin-left: 4px;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;

    &:focus {
        border-color: var(--primary);
        box-shadow: 0 0 4px rgba(106, 90, 205, 0.5);
    }
}
